* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4, #3b82f6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
  color: white;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h1 {
  font-size: 34px;
  font-weight: 700;
}

.logo p {
  opacity: .8;
  margin-top: 5px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  outline: none;
  background: rgba(255,255,255,.2);
  color: white;
  font-size: 15px;
}

.input-group input::placeholder {
  color: rgba(255,255,255,.8);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: white;
  color: #2563eb;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  background: #f3f4f6;
}

.signup {
  margin-top: 25px;
  text-align: center;
}

.signup a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.error {
  color: #dc3545;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.error-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  background: #fdeaea;
  color: #d32f2f;
  text-align: center;
}